<div class="cat_window cat_background cat_mytools">
<strong>Page Background</strong>
<table width="100px" border="0" align="center" cellpadding="0" cellspacing="4" class="cat_menu_tab">
  <tr>
    <td align="center" valign="middle">
  <select name="bgimg" id="bgimg" onchange="javascript:setBackground();">
    <option value="">none</option>
    
      
    {section name=bg loop=$backgrounds}
   	      
      
    <option value="{$backgrounds[bg]}">{$backgrounds[bg]}</option>
    
      
    {/section}
    
    
  </select>
    </p></td>
  </tr>
</table>
</div>