<div class="cat_fontmenu cat_window cat_mytools">
<strong>Font Settings</strong>
<table width="100px" border="0" cellpadding="0" cellspacing="4" class="cat_menu_tab">
  <tr>
    <td>Size 
      <input name="myFontSize" type="text" id="myFontSize" style="width:68px;" size="6" disabled="disabled" onchange="setFontSize();" />
    </td>
  </tr>
  <tr>
    <td><select name="myFont" id="myFont" disabled="disabled" onchange="setFontFamily();">
      <option value="Times-Roman">Times-Roman</option>
      <option value="Arial">Arial</option>
      <option value="Helvetica">Helvetica</option>
      <option value="Courier">Courier</option>
      </select></td>
  </tr>
</table>
</div>

