<div class="cat_frame cat_window cat_mytools">
<strong>Frame Settings</strong>
<table width="100px" border="0" cellpadding="0" cellspacing="4" class="cat_menu_tab">
  <tr>
    <td>Size (px)
      <input name="myFrameSize" type="text" id="myFrameSize" style="width:100px;" size="6" disabled="disabled" onchange="setFrmSize();" />
    </td>
  </tr>
  </tr>
</table>
</div>

