<div class="cat_opacity cat_window cat_mytools">
<strong>Opacity</strong>
<table width="100px" border="0" cellpadding="0" cellspacing="4" class="cat_menu_tab">
  <tr>
    <td>Set 0.01 - 1.00 
      <input name="myOpacity" type="text" id="myOpacity" style="width:100px;" size="4" disabled="disabled" onchange="setOpacity();" />
    </td>
  </tr>
  </tr>
</table>
</div>