  <table width="100%" border="0" cellspacing="4" cellpadding="0" class="cat_menu_tab">
  <tr>
    <td>Saved Templates</td>
    <td><select name="select" id="select">
    </select></td>
    <td><input type="button" name="button3" id="button3" value="Load"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Clone Offset</td>
    <td><input name="textfield2" type="text" id="textfield2" style="width:30px;" value="0" size="3">
      px</td>
    <td><input type="button" name="button" id="button" value="Clone" onClick="clone();"></td>
  </tr>
  <tr>
    <td>Template Name</td>
    <td><input type="text" name="textfield" id="textfield" value="{$date}.xml"></td>
    <td><input type="button" name="button2" id="button2" value="Save"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Only Active</td>
    <td><input name="checkbox" type="checkbox" id="checkbox" checked="checked"></td>
    <td><input type="button" name="button5" id="button5" value="Export" onClick="exportPDF();"></td>
  </tr>
  <tr>
    <td>BG Image</td>
    <td><select name="bgimg" id="bgimg" onchange="javascript:setBackground();">
        <option value="">none</option>
    {section name=bg loop=$backgrounds}
   	      <option value="{$backgrounds[bg]}">{$backgrounds[bg]}</option>
    {/section}
    </select></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Page Numbers</td>
    <td><select name="pagenums" id="pagenums">
      <option value="left">Left</option>
      <option value="right">Right</option>
      <option value="none">none</option>
    </select></td>
    <td><input type="button" value="Font Menu" onClick="$('#fontmenu').toggle();"></td>
  </tr>
  </table>