/* CSS Document */

#widgetstat {
	position:absolute;
	right:10px;
	top: 140px;	
	width: 100px;
	height: 130px;
	background-image:url(background.png);
	padding:10px;
	color:#FFF;
	font-size:10px;
}
#widgetstat span {
	font-size:20px;
	font-weight:bold;
}

