<p>Interval manuel ausführen </p>
<p><a href="javascript:execGen('/cron/generic.php?time=5');">5 Min</a> - <a href="javascript:execGen('/cron/generic.php?time=15&verbose=1');">15 Min</a> -<a href="javascript:execGen('/cron/generic.php?time=1&verbose=1');">1 Std</a> - <a href="javascript:execGen('/cron/generic.php?time=6&verbose=1');">6 Std</a> - <a href="javascript:execGen('/cron/generic.php?time=12&verbose=1');">12 Std</a> - <a href="javascript:execGen('/cron/generic.php?time=24&verbose=1');">24 Std</a></p>
<div id="execres"></div>
