{if $daten}
  <!-- loader -->
  {literal}
<script language="javascript">

// Preload Daten 

$(function(){  
{/literal}	
	{section name=sel loop=$images}
	//$('#p4').append("<a href='/images/hoteldb/{$images[sel].img_name}' class='gallery'>");
	$('#p4').append("<p><img src='/images/dbimg/{$images[sel].img_name}' width='260px'>");
	$('#p4').append("<br />Bild Folge Nr. <input id='pn{$smarty.section.sel.index}' size='1' type='text' value='{$images[sel].position}' /><br /><input id='pd{$smarty.section.sel.index}' style='width:260px;' type='text' value='{$images[sel].img_text}' /><br/>");
	$('#p4').append("<a href='javascript:del_pic(\"{$images[sel].img_name}\");'><img src='/images/icons/cross.png' width='16' height='16'> Bild L&ouml;schen</a></p>");
	pics.push("{$images[sel].img_name}");
	{/section}
{literal}	
});
</script>
  {/literal}
  <!-- loader end -->
  {/if}
<form action="index.php" method="post">
  <table width="900" border="0">
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td width="200" align="left" valign="top"><strong>Artistname</strong></td>
      <td align="left" valign="top"><input name="name" type="text" id="name" style="width:765px" size="58"/></td>
    </tr>
    <tr>
      <td width="200" align="left" valign="top">&nbsp;</td>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td width="200" align="left" valign="top"><strong>Beschreibung</strong></td>
      <td align="left" valign="top"><textarea name="o1" cols="58" rows="30" id="o1" style="width:765px"></textarea></td>
    </tr>
    <tr>
      <td width="200" align="left" valign="top"><strong>Videocode</strong></td>
      <td align="left" valign="top"><textarea name="o2" cols="58" rows="10" id="o2" style="width:765px"></textarea></td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top"><strong>Website</strong></td>
      <td><input name="l1" type="text" id="l1" style="width:765px" /></td>
    </tr>
    <tr>
      <td align="left" valign="top"><strong>Twitter</strong></td>
      <td><input name="l2" type="text" id="l2" style="width:765px" /></td>
    </tr>
    <tr>
      <td align="left" valign="top"><strong>Facebook</strong></td>
      <td><input name="l3" type="text" id="l3" style="width:765px" /></td>
    </tr>
    <tr>
      <td align="left" valign="top"><strong>MySpace</strong></td>
      <td><input name="l4" type="text" id="l4" style="width:765px" /></td>
    </tr>
    <tr>
      <td align="left" valign="top"><strong>iTunes</strong></td>
      <td><input name="l5" type="text" id="l5" style="width:765px" /></td>
    </tr>
    <tr>
      <td align="left" valign="top"><strong>Music Store</strong></td>
      <td><input name="l6" type="text" id="l6" style="width:765px" /></td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="200" align="left" valign="top"><p>Bemerkungen<br />
          <em>(wird nicht angezeigt)</em></p></td>
      <td><textarea name="o3" id="o3" cols="45" rows="10" style="width:765px"></textarea></td>
    </tr>
  </table>
</form>
<form action="#" method="post" id="fileupload">
  <table width="900">  
  <tr>
    <td width="200" align="left" valign="top">&nbsp;</td>
    <td><div id="p4"></div></td>
  </tr>
  <tr>
    <td width="200" align="left" valign="top"><strong>Bilder</strong></td>
    <td><input name="upload" type="file" id="upload" size="38"/></td>
  </tr>
  <tr>
    <td width="200" align="left" valign="top">&nbsp;</td>
    <td><div id="p5"></div></td>
  </tr>
  <tr>
    <td width="200" align="left" valign="top"><strong>Mp3</strong></td>
    <td><input name="upload2" type="file" id="upload2" size="38"/></td>
  </tr>
  <tr class="uploaded" style="display:none;">
    <td width="200" align="left" valign="top"><strong>Gerade Hochgeladen:</strong></td>
    <td><ol class="files"></ol></td>
  </tr>

</table>
</form>
