<dirlist>
<thispath>
<![CDATA[
{$mypath}
]]>
</thispath>
<html>
<![CDATA[
{section name=rfiles loop=$rfiles}
    <div class="{$class}">{if $rfiles[rfiles].is_dir}<img src="../../../images/icons/{$rfiles[rfiles].icon}.png" width="16" height="16" /> <a href=#"" onclick="get{$who}Folder('{$rfiles[rfiles].path|escape:"javascript"}');">{$rfiles[rfiles].path|replace:"$path":""}</a> {else}<img src="../../../images/icons/{$rfiles[rfiles].icon}.png" width="16" height="16" /> {$rfiles[rfiles].path|replace:"$path":""}{/if} </div>
{/section}
]]>
</html>
</dirlist>

