/* CSS Document */
#widgetclock {
	position:absolute;
	right:20px;
	top: 20px;
	z-index: 1;
}
#clock {
	width: 60px;
	height: 100px;
	background: url(images/clockface.jpg);
	list-style: none;
}
#sec, #min, #hour {
	position: absolute;
	width: 5px;
	height: 100px;
	top: 12px;
	left: 48px;
}
#sec {
	background: url(images/sechand.png);
	z-index: 3;
}
#min {
	background: url(images/minhand.png);
	z-index: 2;
}
#hour {
	background: url(images/hourhand.png);
	z-index: 1;
}
.widget p {
	text-align: center;
	padding: 10px 0 0 0;
}
