<div class="ui-widget-content" style="padding:10px;">
<h2>eBay anbinden</h2>
<p>{if $err}</p>
<p>Bei der Abfrage des Tokens von eBay ist ein Fehler aufgetreten! Bitte probieren Sie es zu einem späteren Zeitpunkt noch einmal.</p>
<p>
  {elseif $suc}</p>
<p>Die Token Abfrage war erfolgreich!</p>
<p>Ihr Token ist gültig bis: {$HardExpirationTime}</p>
<p>{else} </p>
<p><strong>Schritt 1.</strong> <a href="/?app=ebaymng&subview=authwiz&step=1" target="_blank">Freigabe erteilen</a></p>
<p><strong>Schritt 2.</strong> <a href="/?app=ebaymng&subview=authwiz&step=2">Token abrufen</a></p>
<p>Optinal:</p>
<p><strong>Schritt 3.</strong> <a href="/?app=ebaymng&subview=getstore">eBay Store Daten abrufen</a></p>
<p>Erteilen Sie OEBC die Erlaubnis um sich mit eBay zu verbinden, führen Sie dafür beide oben stehenden Schritte aus.</p>
{/if}
</div>
<script src="/javascript/cufon-yui.js" type="text/javascript"></script> 
<script src="/javascript/font.js" type="text/javascript"></script> 
<script type="text/javascript">
Cufon.replace('h2');
Cufon.replace('h3');
</script> 