<div style="width:100%; height:100%;">
  <div class="tabs2" style="border:0; margin:0;">
    <ul>
      <li><a href="#tabs-100">Export anlegen</a></li>
      <li><a href="#tabs-101">Export ausführen</a></li>
    </ul>
    <div id="tabs-100"> {include file="gexport/asserts/add.tpl"}</div>
    <div id="tabs-101"> {include file="gexport/asserts/exec.tpl"}</div>
  </div>
<div>