<div class="sidebar">
<a href="javascript:createFolder();"><img src="../../images/icons/folder_add.png" border="0" /></a><a href='javascript:goBack();'><img src="../../images/icons/house_go.png" border="0" /></a><a href='javascript:goUp();'><img src="../../images/icons/arrow_undo.png" width="16" height="16" /></a>
<div id="copyup"><img src="../../images/system/copy_up.png" width="150" height="50" /></div>
<div id="fileinfo">
<p>Datei:<br /><span id="myfile"></span><br /></p>
<p>Pfad:<br /><span id="mypath"></span><br /></p>
<p>Dateigrösse:<br /><span id="myfilesize"></span><br /></p>
<p>Datum:<br /><span id="myfiledate"></span><br /></p>
</div>
</div>
<div class="fileman desktop">
<input type="hidden" value="{$currentfs}" class="currentfs" />
</div>
