#red, #green, #blue {
	float: left;
	clear: left;
	width: 280px;
	margin: 5px;
}
#swatch {
	width: 60px;
	height: 60px;
	margin-top: 0px;
	margin-left: 300px;
	background-image: none;
}
#red .ui-slider-range {
	background: #ef2929;
}
#red .ui-slider-handle {
	border-color: #ef2929;
}
#green .ui-slider-range {
	background: #8ae234;
}
#green .ui-slider-handle {
	border-color: #8ae234;
}
#blue .ui-slider-range {
	background: #729fcf;
}
#blue .ui-slider-handle {
	border-color: #729fcf;
}