<link href="/apps/kdesigner/kdesigner.css" rel="stylesheet" type="text/css" />
<link href="/css/snippets/colorpicker.css" rel="stylesheet" type="text/css" />

<script language="javascript" src="/apps/kdesigner/kdesigner.js"></script>
<script language="javascript" src="/javascript/color.js"></script>
