/* CSS Document */
html {
	overflow:auto !important;
	overflow-x:hidden !important;
	overflow-y:visible !important;
}
html, body {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}
body {
	background-color:#f9f9f9;	
}
.cat_menu_top {
	background-color:#ccc;
	width:100%;
	padding-left:20px;
	min-height:20px;
	line-height:20px;
	border: 0;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
}
.cat_menu_top a {
	color: #FFF;
}
.cat_menu {
	background-color:#ccc;
	width:933px;
	min-height:50px;
	border: 0;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
}
.cat_menu_tab td {
	font-weight: normal; !important;
	color: #FFF !important;		

}
.cat_menu_tab input[type="button"],
.cat_menu_tab input[type="text"] {
	width: 100%;
}

.cat_window {
	background-color:#555; 
	border: 1px solid #333;
	overflow-x:auto; 
	overflow-y:hidden;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
	padding: 2px !important;
}
.cat_window strong {
	color:#FFF;
}

.cat_elements {
	background-color:#ccc; 
	width:60px; 
	height:300px; 
	position: absolute;
	left:5px;
	top:10px;
	padding:0;	
}

.cat_status {
	background-color:#ccc; 
	width:60px; 
	height:90px; 
	position: absolute;
	left:5px;
	top:335px;
	padding:0;
	font-size:9px;	
}
.cat_tools {
	background-color:#ccc; 
	width:30px; 
	height:250px; 
	position: absolute;
	left:870px;
	top:10px;
	padding:0;	
}

.cat_file {
	background-color:#ccc; 
	width:30px; 
	height:110px; 
	position: absolute;
	left:870px;
	top:280px;
	padding:0;	
}

.cat_color {
	width:370px; 
	height:150px; 
	position: absolute;
	left:270px;
	bottom: 20px;
	padding:0;	
}
.cat_element {
	margin:5px;
	width:50px;
	height:30px;
	text-align:center;
	font-size:9px;
}
.image {
	background-color:#F96;
	width:50px;
	height:30px;
}
.desc {
	background-color:#096;
	width:50px;
	height:30px;
}
.price {
	background-color:#09C;
	width:50px;
	height:30px;
}
.ean {
	background-color:#636;
	width:50px;
	height:30px;
}
.frame {
	background-color:none;
	border:#333 1px solid;
	width:50px;
	height:30px;
}
.gimage {
	background-color:none;
	border:#F09 1px solid;
	width:50px;
	height:30px;
	background-size: 100%;
	background-repeat:no-repeat;
}
.gtext {
	background-: transparent;
	border:#666 1px dashed;	
	width:50px;
	height:30px;
	text-align:center;
	font-size:10px;
	font-family:"Times New Roman", Times, serif;
}
.welement {
	margin:0px;
	font-size:9px;
	text-align:center;	
	/*background-color:#F96;	*/
}
.selector {
	border: 1px dashed #F00;
	position:absolute;	
}

.cat_workbench {
	width:780px;
	height:1103px;
	border:1px solid #333 !important;
	margin:25px;
	margin-top:10px;
	position: relative;
	left: 55px;
	background-color:#FFF;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');		
}
.cat_page {
	width: 100%;
	height:100%;
}
.selected {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
	-ms-filter: "filter:progid:DXImageTransform.Microsoft.Glow(Color=blue,Strength=5)";
	filter:progid:DXImageTransform.Microsoft.Glow(Color=blue,Strength=5);
}
.textspace {
	width:100%;
	height:100%;
	overflow:none;
	border:0;	
}
.cat_fontmenu {
	position:absolute;
	left:730px;
	top:70px;
	width: 110px;
	padding:2px;
}
.cat_background {
	position:absolute;
	left:730px;
	top:143px;
	width: 110px;
	padding:2px;
}
.cat_frame {
	position:absolute;
	left:730px;
	top:195px;
	width: 110px;
	padding:2px;
}
.cat_opacity {
	position:absolute;
	left:730px;
	top:260px;
	width: 110px;
	padding:2px;
}
.cat_export {
	width:320px; 
	height:50px; 
	position: absolute;
	left:170px;
	top: 180px;
	padding:0;	
}
.cat_export_pdf {
	height: 260px;	
}
#pdfoutput {
	height:85px;
	background-color:#FFF;
	border:1px solid #666;
	width:290px;
	padding:2px;
	margin: 0 auto;
	overflow:auto
}