<div style="clear:both"></div>
</div>

<div id="loginbox" class="bar topbar"> 
<div class="vdesk">1</div><span id="sysclock" style="float:left; margin-left:5px; z-index:auto;">{$date}</span> 
{if $uname}<div style="float:right; margin-right:15px; color:#FFFFFF;" id="logout">Sie sind angemeldet als <em>{$uname}</em></div>{/if}
</div>
 
<!--Slides-->
</body></html>