<div class="desktop maindesk"> 

</div>

<!-- widget -->
<div class="widget" id="widgetclock">
  <ul id="clock">
    <li id="sec"></li>
    <li id="hour"></li>
    <li id="min"></li>
  </ul>
</div>
<div class="widget" id="widgetstat"> <strong>Gestern</strong><br />
  <span>{$orders_today}</span><br />
  <strong>Letzte 7 Tage</strong><br />
  <span>{$orders_week}</span><br />
  <strong>Gesamt:</strong><br />
  <span>{$orders_all}</span> </div>
<!-- end widgets -->

<div id="splash"> <img src="/images/background/Splash.png" width="416" height="321" onclick="$(this).parent().toggle('fast')" /></div>

<!-- generic -->
<div id="generictpl" class="generic winstack" style="margin-left:20px; margin-top:0px;">
  <div class="bar" align="absmiddle"> <span style="float:left;"><img src="/images/system/oebc_mini.png"  align="texttop" /><span class="title"></span></span> <span style="float:right;"><a href="#" onclick="$(this).parent().parent().parent().remove()"><img src="/images/system/button_red.png" style="margin-bottom:2px;" /></a></span></div>
  <iframe frameborder="0" width="100%" height="100%" scrolling="auto" class="genericFrame" style="background-color:#eee;">Old Browser?</iframe>
</div>

<!-- /generic -->
<div id="mainmenu"><img src="/images/system/oebc_mini_full.png" border="0" style="width:30px; height:11px;" />
  
<!-- icon include --> 
{section name=applist loop=$applist} 
<a href="#" onclick="javascript:spawngeneric('/?app={$applist[applist]}', '', 500, 940);" > <img src="/apps/{$applist[applist]}/{$applist[applist]}.png" border="0" class="icon" /> </a> 
{/section} 
  
 </div>
