<table width="580px" border="0">
{section name=sel loop=$categories}
  <tr>
    <td width="20">
        <input type="radio" id="radio" value="radio" onclick='setCat{$c2}("{$categories[sel].name|escape:'javascript'}", "{$categories[sel].cid|escape:'javascript'}")' name="categories">
    </td>
    {assign var="index" value=$categories[sel].parent}
    {assign var="pindex" value=$parents[$index].parent}
    <td>{$parents.$pindex.name} &raquo; {$parents[$index].name} &raquo; {$categories[sel].name}</td>
    <td width="90">(ID: {$categories[sel].cid})</td>
  </tr>
{/section}
</table>