{if $step1}
<meta http-equiv="refresh" content="1; URL=/?app=ebaymng&subview=renew&step=2">
{elseif $step2}
<meta http-equiv="refresh" content="0; URL=/?app=ebaymng&subview=renew&step=3">
{elseif $step3}
<meta http-equiv="refresh" content="1; URL=/?app=ebaymng&subview=renew&step=4">
{elseif $step4}
<meta http-equiv="refresh" content="0; URL=/?app=ebaymng&subview=renew&step=5">
{/if}

