@charset "utf-8";
/*
 	Copyright 2010-2012 Alexander Pick (ap@pbt-media.com)

    This file is part of OEBC.

    OEBC is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    OEBC is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with OEBC. If not, see http://www.gnu.org/licenses/.
*/

html {
	overflow:hidden;
	outline:none;
}
body, td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000;
}
body {
	margin:0;
	padding:0;
	height:100%;
}
#content {
	width:100%;
	height:100%;
	top: 0px;
	z-index: 3;
	position:absolute;
}
#loading {
	position: absolute;
	top: 49.5%;
	left: 49.5%;
	z-index: 3;
	width: 24px;
	height: 24px;
	text-indent: -999em;
	background-image: url(images/progress.gif);
}
h2 {
	margin: 0;
	padding: 0;
	color:#000;
	margin-bottom:5px;
	font-size:24px;
}
h3 {
	color: #000;
	font-size:24px;
	margin: 0 !important;
	padding: 0;
}
a {
	outline:none;		
}
a:link {
	color:#F00;
	text-decoration: none;
}
a:visited {
	color:#F00;
	text-decoration: none;
}
a:hover {
	color:#F00;
	text-decoration: underline;
}
a:active {
	color:#F00;
	text-decoration: none;
}
a img {
	border: 0;
}
input {
	border: 1px solid #ccc;
	padding-left:2px;
}
select {
	border: 1px solid #ccc;
}

.box {
	padding: 5px 33px;
	width: 912px;
	margin-bottom: 0px;
	margin-top: 5px;
	background-color:#FFF;
}
.minbox {
	min-height: 400px;
}
.cbox {
	margin-left: 3px;
	margin-bottom:3px;
	background-color:#FFF;
}
.st-button {
	font-weight:bold !important;
	padding:5px;
}
.big_input {
	width: 100%;
	border: 1px solid #ccc;
}
#top_head {
	min-height: 75px;
	width: 930px;
	top:0;
	margin:0;
	padding:0;
	padding-top: 5px;
	padding-left:0px;
	padding-right:25px;
}
#top_l {
	float:left;
	width:180px;
}
#top_r {
	float:right;
	padding:0px;
	padding-top:80px;
	margin: 0;
	font-size:12px;
	top:0;
}

label.error {
	width: auto;
	display: inline;
	color:#F00;
}
#pages {
	width: 940px;
	text-align:center;
	height:25px;
	margin: 0 auto;
}
/* Tabs */
#tabs2 {
	width: 965px;
	margin: 0;
	margin-top: 5px;
}
/* Login Name */
#loginbox {
	width: 100%;
	height:13px;
	color:#000;
	-moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000');
}
tr.alt td {
	background: #F5F5F5;
}
tr.over td {
	background: #C5DCFF;
}
input.blur {
	color: #999;
}
.admid {
	width:80px;
	float: right;
	padding-left: 10px;
}

/*dock */

#mainmenu {
	position:absolute;
	top: 30px;
	left:0px;
	width: 34px;
	background-image:url("/images/system/dock.png");
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
}
.icon {
	width:30px;
	height:30px;
	margin:5px 2px;
}
/* login */

.login {
	width: 360px;
	height:280px;
	top: 150px;
	left: 50%;
	margin-left:-180px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
}
/* desk */

.bar {
	min-height:14px;
	padding:3px;
	background-image:url(/images/system/bar.png);
	color:#FFF !important;
}
.vdesk {
	background-image:url(../images/system/desk.png);
	background-repeat:no-repeat;
	padding-left:8px;
	padding-top:1px;
	float:left; 
	margin-left:5px;
	z-index:auto;
	width:19px;
	display:inline;
	font-weight:bold;
}

/* splash screen */

#splash {
	width:416px;
	height:321px;
	position: absolute;
	top: 50%;
	margin-top: -250px;
	left: 50%;
	margin-left:-213px;
}

/* window manager kernel */

.generic, .window {
	display:none;
	background-color: #eee;
	position:absolute;
	left:30px;
	top:25px;
	width: 940px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
	-moz-border-radius-topleft: 5px; 
	-webkit-border-top-left-radius: 5px; 
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	border:#444 1px solid;	
	background-image:url(/images/system/bar.png);
	background-repeat:repeat-x;	
}
.generic {
	height: 400px;
	padding-bottom:20px;
}
.generic .bar {
	-moz-border-radius-topleft: 5px; 
	-webkit-border-top-left-radius: 5px; 
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	border: 0 !important;
}
.genericFrame {
	overflow:scroll !important;	
}

/* desktop settings */

#desksetres {
	height:35px;
	width:100%;
	text-align:center;
	color:#090;
	font-weight:bold;
	line-height:35px;
}
/* widget */
.exx {
	position:absolute;
	right:0;
	top:0px;
	font-weight:bold;
	font-size:12px;
}
.desktop {
	width:90%;
	height:100%;
}
.maindesk {
	padding-top: 30px;
	padding-left: 60px;
	padding-right: 60px;	
}
.file {
	float:left;
	width:76px;
	heigh:50px;
	margin:5px;
	color:#000;
	text-align:center;
	font-size:9px;
}
.file img {
	margin-left:13px;
	margin-right:13px;
}
.selected {
	-webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
	-ms-filter: "filter:progid:DXImageTransform.Microsoft.Glow(Color=white,Strength=5)";
 	filter:progid:DXImageTransform.Microsoft.Glow(Color=white, Strength=5);
	background-color:#CCC;
	color:#000;
}
.vmenu {
	border:1px solid #aaa;
	position:absolute;
	background:#fff;
	display:none;
	font-size:10px;
}
.vmenu .first_li span {
	width:100px;
	display:block;
	padding:5px 10px;
	cursor:pointer
}
.vmenu .inner_li {
	display:none;
	margin-left:120px;
	position:absolute;
	border:1px solid #aaa;
	border-left:1px solid #ccc;
	margin-top:-28px;
	background:#fff;
}
.vmenu .sep_li {
	border-top: 1px ridge #aaa;
	margin:5px 0
}
.vmenu .fill_title {
	font-size:11px;
	font-weight:bold;
/height:15px;
/overflow:hidden;
	word-wrap:break-word;
}
